@charset "utf-8";
/*-------公共样式-------*/
*{margin:0; padding:0;}
body{word-wrap:keep-all;margin:0 auto;padding:0;color:#333;font-family:"微软雅黑",Arial, Helvetica, sans-serif; font-size:12px;line-height:24px; background:#fff;}
a:focus{outline:none;}
a:link,
a:visited {color: #999;text-decoration:none;}
a:hover,
a:active {color: #666;text-decoration: none;}
img{border:0; padding:0;}
form{ margin:0; padding:0; border:0;}
li{ list-style-type:none;}
div,ul,li,cl,dt,dd,dl{ margin:0 auto;padding:0;}
input,textarea,select,button{ padding:0; margin:0; border:0; font-size:12px; line-height:20px;font: 12px/1.125 Arial,Helvetica,sans-serif; background:none;}
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }
.clear {clear:both; height:0; overflow:hidden; display:block;}
.clearfix,.main{*zoom:1;}
.clearfix:after,.main:after{clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.fl{float:left}
.fr{float:right;}
.alertlayer{position:absolute;padding:10px;top:30%;left:50%;background:#fafafb;}
.alertlayer_l{position:fixed;top:300px;left:50%;margin-left:-120px;background:#fafafb;}
.corner{-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.corner_b{border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;}
.corner_t{border-top-left-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-right-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;}
.shadow{box-shadow: 0px 1px 3px 3px #ccc;-webkit-box-shadow:0px 1px 3px 3px #ccc;-moz-box-shadow:0px 1px 3px 3px #ccc;}
.lightgary{color:#808080}
.red{color:#ff2400;}
.ft12{font-size:12px;}
.bold-14{font-weight:bold;font-size:14px;}
table{border:1px solid #e8e8e8;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
table th{height:32px;background:#e8e8e8;border-right:1px solid #f5f5f5;}
table td{height:30px;line-height:30px;text-align:center;border-right:1px solid #f5f5f5;}
table{}

/*-------页面主结构样式-------*/
.header{width:100%;height:70px;background:#363636;position:fixed;top:0px; z-index:999}
.contentbox{width:990px;margin:70px auto 0px;}
.sideleft{width:110px;padding-top:10px;float:left;position:fixed;top:70px; z-index:999/*background:url(../image/side-y.png) repeat-y; */}
.content{width:870px;min-height:830px;margin-top:-24px;margin-left:110px;padding:0px 0px 40px 9px;float:left;border-left:1px solid #e8e8e8;}
/*-------头部样式-------*/
.top{width:990px;height:70px;margin:0 auto;}
.logo{width:110px;height:61px;float:left;background:url(../image/logo.png) no-repeat;}
.subtitle{width:180px;height:24px;float:left;margin-top:30px;text-indent:10px;font-size:16px;font-weight:400;color:#d6d6d6;font-family:'微软雅黑'}
.username{height:24px;float:right;font-size:14px;margin-top:32px;color:#999;}
.setting{width:40px;height:38px;position:relative;float:right;margin-top:32px;background: url(../image/setting.png) no-repeat 10px 4px;cursor:pointer;}
.set_h{width:38px;height:37px;border:1px solid #c3c3c3;border-bottom:0px;background:#fafafb url(../image/setting.png) no-repeat 10px 4px;}
.setting ul{width:100px;display:none;position:absolute;top:37px;left:-61px;border:1px solid #c3c3c3;border-top:0px;background:#fafafb; z-index:3}
.setting ul li{height:29px;line-height:29px;text-align:center;color:#333}
.setting ul li a{ display:block;color:#333}
.setting ul li a:hover{color:#148bc9;background:#f2f1f1;}

/*-------左侧内容区样式-------*/
.sideleft .nav{font-size:14px;font-family:'微软雅黑'}
.sideleft .nav li{margin-top:15px;line-height:26px; cursor:pointer;position:relative;}
.sideleft .nav li .manage_limit{width:110px;height:24px;display:block;text-indent:42px;font-weight:bold;}
.sideleft .nav li .filebox{width:19px;height:20px;position:absolute;top:4px;left:2px;display:block;line-height:26px;margin:0px 12px 0px 10px;background:url(../image/sprite.png) -0px -132px;}
.sideleft .nav li .filebox .messagenumber{width:20px;height:20px;position:absolute;top:-8px;left:8px; z-index:1;display:block;font-size:12px;line-height:20px;color:#fff;text-align:center;background:url(../image/sprite.png) -19px -132px;}
.sideleft .nav li .filebox_gray{width:19px;height:16px;position:absolute;top:6px;left:2px;display:block;line-height:26px;margin:0px 12px 0px 10px;background:url(../image/sprite1.png) -16px -56px;}
.sideleft .nav li .filebox_gray .messagenumber{width:20px;height:20px;position:absolute;top:-10px;left:8px; z-index:1;display:block;font-size:12px;line-height:20px;color:#fff;text-align:center;background:url(../image/sprite.png) -19px -132px;}
.sideleft .nav li .filebox_user,.sideleft .nav li .filebox_usercur{width:19px;height:16px;position:absolute;top:6px;left:2px;display:block;line-height:26px;margin:0px 12px 0px 10px;background:url(../image/sprite1.png) -35px -56px;}
.sideleft .nav li .filebox_usercur{background:url(../image/sprite1.png) -166px -88px;}
.sideleft .nav li ul li{width:100px;height:26px;padding-right:10px;margin-top:10px;text-align:right;}
.sideleft .nav li ul li.cur{width:100px;position:relative;right:-2px;background:url(../image/sprite.png) 0px -106px;}
.sideleft .nav li ul li.cur a{color:#fff;}
.sideleft .nav li ul li.cur a:hover{color:#fff;}
.sideleft .nav li ul li a{color:#999;}
.sideleft .nav li ul li a:hover{color:#666;}
.Emptydataimg{display:block;margin:3px 0px 0px 28px;}
/*--尾部样式--*/
.footbar{width:100%;height:40px;position:fixed;bottom:0px;line-height:40px;text-align:center;background:#ededed;color:#808080}
.foot{width:990px;height:40px;margin:0 auto;position:relative;}
.feedback{width:66px;height:16px;display:block;position:relative;left:924px;bottom:30px;background:url(../image/sprite1.png) no-repeat -0px -137px;}
.feedback:hover{background:url(../image/sprite1.png) no-repeat -67px -137px;}
/*--弹出层--*/
.Customer_set{position:absolute;padding:10px;top:12px;left:16px;background:#fafafb; display:none;}
.box_2{width:160px;height:220px;margin:0 25px;}
.box_2 p{text-align:left;font-weight:100;line-height:none;}
.box_2 h3{margin-top:8px; text-align:left;line-height:none}
.box_2 .open_btn{width:80px;height:30px;margin:10px 0px 0px 0px;float:left;display:block;line-height:30px;text-align:center;cursor:pointer;margin-left:40px;color:#fff;background:#df3186;border:1px solid #df3186;}
.Customer_set .eck{vertical-align: -2px;margin-right:10px;}
.close{width:16px;height:16px;display:block;position:absolute;z-index:1;top:10px;right:10px;background:url(../image/sprite1.png) -55px -56px;}
.close:hover{background:url(../image/sprite1.png) -384px -56px;}
.box_1{width:350px;}
.box_1 .p_1{width:180px;height:50px;margin:0px auto;padding-top:20px;line-height:24px;text-align:center;width:color:#666;font-size:14px;}
.box_1 .p_2{width:260x;margin:0px auto;padding-top:20px;line-height:24px;text-align:center;color:#333;font-size:14px;font-weight:bold;}
.box_1 .p_3{width:260x;margin:0px auto;padding-top:10px;line-height:24px;text-align:center;color:#808080;font-size:12px;}
.box_1 .p_4{width:260x;height:24px;margin:0px auto;padding:10px 0px 10px 0px;line-height:24px;text-align:center;color:#333;font-size:14px;font-weight:bold;}
.box_1 .linebar{width:228px;height:40px;line-height:40px;display:block;margin:0px auto 10px; text-align:center;font-size:14px;background:#e6e6e6; cursor:pointer}
.box_1 .cur{background:#f66093;color:#fff;}
.cancel_btn,.open_btn,.open_btn1{width:80px;height:30px;margin:10px 0px 20px 40px;float:left;display:block;line-height:30px;text-align:center;color:#df3186;background:#fdf7f9;border:1px solid #df3186;cursor:pointer;}
.open_btn,.open_btn1{margin-left:72px;color:#fff;background:#df3186;border:1px solid #df3186;}
.open_btn1{margin-left:132px;}
.fileimg{width:110px;height:35px;display:block;margin:10px auto 0px;background:url(../image/sprite.png) no-repeat -256px -107px;}
.newRefresh{width:39px;height:14px; display:block;margin-left:446px;background:url(../image/sprite.png) no-repeat -100px -92px;}
.box404{width:295px;height:100px;margin-left:-147px;position:absolute;top:40%;left:50%;background:url(../image/404.png) no-repeat top;}
.box404 a{display:block;margin-top:74px;float:left;text-indent:-10000px;}
.box404 a.Retreat{width:42px;height:18px;margin-left:30px;background:url(../image/sprite1.png) no-repeat -136px -137px;}
.box404 a.Refresh{width:39px;height:14px;margin:76px 0px 0px 45px;background:url(../image/sprite.png) no-repeat -100px -92px;}
.box404 a.Returnindex{width:66px;height:18px;margin-left:45px;background:url(../image/sprite1.png) no-repeat -220px -137px;}







